<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">GeekHijabi's Blog</a></h1>
        </div>

        <div>
            <p>published: 03.03.2016, 18:10</p>
            <h2><a href="">My first post</a></h2>
            <p>This post is for everyone out there struggling to find their identity, be your own person.</p>
        </div>

        <div>
            <p>published: 03.03.2016, 18:10</p>
            <h2><a href="">My second post</a></h2>
            <p>Never Quit, Never give up, Keep Fighting, Keep the hope alive.</p>
        </div>
    </body>
</html>