<html>
    <head>
        <title>GeekHijabi blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">GeekHijabi Blog</a></h1>
        </div>

        <div>
            <p>published: 29.02.2016, 17:22</p>
            <h2><a href="">My first post</a></h2>
            <p>This is dedicated to everyone out there struggling with one thing or the other, the best thing is to never give up, i know it sounds like a cliche but nothing good comes from quiting. Keep fighting, losing but never stop.</p>
        </div>

        <div>
            <p>published: 29.02.2016, 17:22</p>
            <h2><a href="">My second post</a></h2>
            <p>If wishes were horses, beggars will play polo, you dont get to choose all your battles in life but the one you decide to choose, make sure it is actually worth it.</p>
        </div>
    </body>
</html>